<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yhkx.core.storage.dao.entity.WorkOrderMapper" >
  <resultMap id="BaseResultMap" type="com.yhkx.core.storage.dao.entity.WorkOrder" >	
    <id column="guid" property="guid" jdbcType="VARCHAR" />

    <result column="order_item_id" property="orderItemId" jdbcType="VARCHAR"  />
    <result column="create_time" property="createTime" jdbcType="DATE"  />
    <result column="complete_time" property="completeTime" jdbcType="DATE"  />
    <result column="remark" property="remark" jdbcType="VARCHAR"  />
    <result column="worker_id" property="workerId" jdbcType="VARCHAR"  />
    <result column="status" property="status" jdbcType="INTEGER"  />

  </resultMap>
 </mapper>